.historySection {
  font-size: 18px;
  line-height: 28px;

  @media (max-width: 767px) {
    font-size: 15px;
  }
}

.sectionTitle {
  font-size: 28px;
  color: var(--color-green900);
  font-weight: 700;
  margin-bottom: 16px;

  @media (max-width: 767px) {
    font-size: 23px;
  }
}

.historyRow {
  display: flex;
  gap: 16px;
  margin: 8px 0;
}

.historyDt {
  width: 80px;
  flex-shrink: 0;
}

.gallerySection {
  margin-top: 60px;
}
