.container {
  padding: 0 24px;
}

.image {
  display: block;
  height: 240px;
  object-fit: contain;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 767px) {
    height: 140px;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-green900);
  text-align: center;
  margin-top: 48px;

  @media (max-width: 767px) {
    font-size: 23px;
  }
}

.description {
  font-size: 18px;
  line-height: 28px;
  margin-top: 24px;
  color: var(--color-gray800);

  @media (max-width: 767px) {
    font-size: 15px;
  }
}

.highlight {
  font-weight: 700;
  color: var(--color-green800);
}
